body {
    font-family: sans-serif;
}

aside {
    height: 100vh;
    padding-top: 20px;
    overflow-y: scroll;
}

aside .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

aside .nav-link {
    color: white;
    padding: 10px;
}

aside .nav-link.active {
    background-color: #555;
    border-radius: 5px;
}

main {
    background-color: #f8f9fa;
    height: 100vh;
    overflow-y: scroll;
}

.user-profile {
    display: flex;
    align-items: center;
}

.status-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-box.active {
    border: 2px solid #007bff; /* Example active state styling */
}

.status-box .title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.status-box .number {
    font-size: 2rem;
    font-weight: bold;
}

.trends-box, .summary-box, .unresolved-box, .tasks-box {
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trends-box {
    padding: 20px;
}

.trends-box p {
    color: #9FA2B4;
    font-size: 0.9rem;
}

.label-text {
    color: #9FA2B4;
}

.summary-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-item {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #DFE0EB;
    padding: 20px;
    text-align: center;
}

.summary-item > p {
    margin: 0;
}

.summary-item .title {
    font-size: 0.9rem;
    color: #9FA2B4;
    margin-bottom: 10px;
}

.summary-item > .number {
    font-size: 1.6rem;
}

.unresolved-box, .tasks-box {
    border-radius: 5px;
}

.unresolved-box label {
    font-size: 0.9rem;
}

.unresolved-box .title {
    padding: 20px;
}

.support-info {
    padding: 10px 20px;
    border: 0.5px solid #DFE0EB;
}
