$primary-text: #252733;
$blue: #3751FF;
$grey-text: #9FA2B4;
$grey-border: #DFE0EB;
$primary-font: 'Mulish', sans-serif;
$font-weight-normal: 600;
$font-weight-bold: 700;

/* Google font - 
font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: $primary-font;
    font-weight: $font-weight-normal;
    color: $primary-text;
}

aside {
    height: auto;
    padding: 37px 32px;
    background-color: #363740;
    overflow-y: scroll;
}

aside .logo {
    font-size: 19px;
    font-weight: $font-weight-bold;
    color: #a4a6b3;
}

aside .nav-link {
    font-size: 16px;
    color: #a4a6b3;
}

aside .nav-link.active {
    font-size: 16px;
    color: #DDE2FF;
    background-color: #3E4049;
    border-left: 4px solid #DDE2FF;

    & > * {
        margin-left: -4px;
    }
}

aside .nav-link:hover {
    color: #DDE2FF;
    background-color: #3E4049;
}

hr {
    border: 1px solid $grey-border;
    opacity: 6%;
}

main {
    background-color: #f7f8fc;
    height: 100vh;
    overflow-y: scroll;
}

h2 {
    font-size: 24px;
    font-weight: $font-weight-bold;
}

.user-profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-profile-container .search-icon {
    margin-right: 24px;
}

.user-profile-container .notification-icon {
    margin-right: 32px;
}

.user-profile-container .vertical-line {
    height: 30px;
    width: 1px;
    background-color: $grey-border;
    border: none;
    margin-right: 32px;
}

.user-profile-container .user-name {
    font-size: 16px;
    margin-right: 14px;
}

.user-profile-container .rounded-circle {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border: 1.5px solid $grey-border;
    border-radius: 50%;
    padding: 2px
}

.status-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-box.active {
    border: 2px solid $blue;
}

.status-box.active .title,
.status-box.active .number {
    color: $blue;
}

.status-box .title {
    font-size: 19px;
    color: $grey-text;
    margin-bottom: 12px;
}

.status-box .number {
    font-size: 40px;
    color: $primary-text;
    font-weight: $font-weight-bold;
}

.trends-box,
.summary-box,
.custom-card {
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trends-box {
    padding: 20px;
    border-radius: 8px 0px 0px 8px;
}

.trends-box .today-curve {
    border: 1.2px solid $blue;
    height: 0;
    width: 20px;
    margin-left: 24px;
    margin-right: 8px;
}

.trends-box .yesterday-curve {
    border: 1.2px solid $grey-border;
    height: 0;
    width: 20px;
    margin-left: 24px;
    margin-right: 8px;
}

h5 {
    font-size: 19px;
    font-weight: $font-weight-bold;
}

.label-text {
    color: $grey-text;
    font-size: 12px;
    font-weight: 400;
}

.muted-text {
    color: $grey-text;
}

.more-muted-text {
    color: $grey-border;
}

.summary-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 8px 8px 0px;
}

.summary-item {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5px solid $grey-border;
    padding: 20px;
    text-align: center;
}

.summary-item .title {
    font-size: 16px;
    color: $grey-text;
    margin-bottom: 6px;
}

.summary-item>.number {
    font-size: 24px;
    font-weight: $font-weight-bold;
}

.custom-card {
    border-radius: 8px;
}

.custom-card label {
    font-size: 14px;
}

.custom-card-title {
    padding: 20px;
}

.custom-card-title a {
    color: $blue;
}

.custom-card-info-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 0.5px solid $grey-border;
}

.custom-card-info-item .badge {
    font-weight: $font-weight-bold;
    line-height: 1;
    display: flex;
    align-items: center;
}

.add-task-btn {
    height: 24px;
    width: 24px;
    padding: 0;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}